<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sea.dao.GoodsMapper" >
    <select id="searchLikeByTitleOrDescribe" parameterType="String" resultType="com.sea.bean.Goods">
        select distinct * from goods where (title like '%${key}%'  or description like '%${key}%')and status='在售'
    </select>
    <select id="enquiryForLatestTen" resultType="com.sea.bean.Goods">
        SELECT * FROM goods WHERE `status`='在售' ORDER BY id DESC LIMIT 10
    </select>
    <select id="queryGoodsOnSchoolForLatestTen" parameterType="String" resultType="com.sea.bean.Goods">
        select * from goods where school = #{school} order by id desc LIMIT 10
    </select>

</mapper>